numpy==1.23.2; python_version >= "3.11"
numpy==1.21.5; python_version < "3.11"
protobuf == 4.21.12
pytest
nbval
ipython
wheel
setuptools
twine
parameterized
tornado>=6.3.3 # not directly required, pinned by Snyk to avoid a vulnerability
